#circulo {
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
  }


.hobbie_icone{
  display: block;
  margin: 50px auto 0;
  width: 70%;
}

.instagram{
  width: 10.5%;
}

.facebook{
  width: 7%;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.menu{
  display: none;
}

.menu.active{
  display: block;
}

.menu ul{
  list-style-type: none;
  padding: 0;
  background-color: white;
  border: 2px solid black;
}

.menu li{
  border: 1px solid black;
}

.menu a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}



/* CSS Página Login */

#FundoAmareloLogin {
  width: 450px;
  height: 280px;
  background-color: yellow;
  position: absolute;
  border-radius: 5%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
}

.cadastro_dados_usuario{
  background: none;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  color: black;
  font-size: 15px;
  width: 100%;
  transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

#login{
  margin-top: 20px;
  transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}


.cadastro_dados_usuario:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse está sobre o input */
}

#login:hover{
  transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse está sobre o input */
}

#animacao_barrinhas{
  transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

#animacao_barrinhas:hover{
  transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse está sobre o input */
}
